---
---
@charset "utf-8";

$base-font-family: 'Open Sans', sans-serif;
$head-font-family: 'Open Sans', sans-serif;
$base-font-size:   15px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$spacing-unit:     10px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #0088AA;
$grey-color:       #828282;
$highlight-color:  #eae311;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$content-width:    900px;
$on-palm:          600px;
$on-laptop:        1000px;

@mixin media-query($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

@import
        "base",
        "style",
        "menu"
;
