*{
    -webkit-transition: all 0.2s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: all 0.2s;
    transition-timing-function: linear;
}

body {
    background: var(--background-color);
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    overflow-x: hidden;
    color: var(--text-color);
}

hr {
    border: 0;
    height: 1px;
    width: 60%;
    margin: 2em auto 2em;
    background-color: var(--grey-color);
}

a {
    color: var(--brand-color);
    text-decoration: none;
    &:hover {
        color: var(--highlight-color);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $head-font-family;
    font-weight: 700;
    color: var(--heading-color);
    &:first-child {
        margin-top: 0;
    }
}

h1{
    font-size: 2.2em;
    @include media-query($on-laptop) {
        font-size: 2em;
    }
}

h2{
    font-size: 1.6em;
    @include media-query($on-laptop) {
        font-size: 1.2em;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul, ol {
    margin-left: $spacing-unit;
     @include media-query($on-palm) {
        font-size: 12px;
    }
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
            @include media-query($on-palm) {
                font-size: 12px;
            }
    }
}

strong {
    font-weight: bold;
}
