@mixin light-colors {
    --heading-color:    rgb(29, 29, 29);
    --text-color:       rgb(78, 78, 78);
    --background-color: #fdfdfd;
    --brand-color:      #0088AA;
    --highlight-color:  #eae311;
    --grey-color-light: #f0f0f0;
    --grey-color:       #aaa;
    --grey-color-dark:  #555;

    --palette_1: #0088aa;
    --palette_2: #344a53;
    --palette_3: #97afba;
    --palette_4: #9c6d9d;
    --palette_5: #683d6a;
}

@mixin dark-colors {
    --heading-color:    rgb(29, 29, 29);
    --text-color:       rgb(78, 78, 78);
    --background-color: #fdfdfd;
    --brand-color:      #0088AA;
    --highlight-color:  #eae311;
    --grey-color-light: #f0f0f0;
    --grey-color:       #aaa;
    --grey-color-dark:  #555;

    --palette_1: #0088aa;
    --palette_2: #344a53;
    --palette_3: #97afba;
    --palette_4: #9c6d9d;
    --palette_5: #683d6a;
}